// @import 'nib/vendor'
@import 'nib/gradients'
@import 'utils.styl'

m = 20px // padding
r = 1em // radius
userColor = red

body
  font 15px/1.8em 'anka', monospace

html, body, main, .main-in, .app-container
  height 100%
::selection
  background transparent
::-moz-selection
  background transparent

.App
  height 100%
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-content stretch
  align-items stretch
.Main
  position relative
  overflow hidden
  flex 0 1 100%
  display flex
  padding 20px
  flex-direction column
  flex-wrap nowrap
  justify-content flex-end
  border-right 1px solid #ccc
.Main-lines
  flex 0 0 auto
  width 100%
  line-height 1.5em
  width 760px
  margin 0 auto 50vh
  white-space pre
  .letter
    border-radius r
    transition all 0.8s ease
    &.letter-current
      color userColor
      box-shadow 0 0 0 0px transparent
      background transparent
    &.letter-other
      box-shadow 0 0 0 0px transparent
      transition all 0.3s ease
  .line[data-reactid=".0.0.0.0.$39"]
    .letter
      background transparent
      &.letter-current
        box-shadow 0 0 0 2px u serColor
        background userColor
      &.letter-other
        color black
.Sidebar
  flex 0 0 350px
.Logo
  position absolute
  bottom m
  right 0
  width 100%
  display block
  text-align center
  h1
    display inline
    font-size 20px
    color #888
  .Logo-about
    margin-left 10px
    font-size 12px
    cursor pointer
    color white
    background #aaa
    padding 0.25em 0.45em 0 0.45em
    border-radius r
    font-weight bold
    position relative
    top -2px
    &:hover
      background userColor

.Letters
  flex 0 0 auto
  flex-wrap wrap
  justify-content flex-start
  align-content flex-start
  align-self auto
  padding 20px 24px 20px 30px
  flex-direction row
  display flex
  font-weight bold
  align-items stretch
  & > span
    width (294px / 6)
    font-size 30px
    cursor pointer
    span
      display block
      text-align center
      line-height 0.9em
      margin .1em
      border-radius r
      background #ccc
      padding 0.3em 0.4em 0.2em 0.42em
      transition background-color .3s ease
    &:hover span
      background userColor
      color white
      transform scale(1.2)
    &:active span
      animation bet 4s infinite
.Letters-letter-blank
  visibility hidden

.About
  transition all .4s ease
  position absolute
  background userColor
  padding 25vh
  font-size 30px
  line-height 2.5em
  text-align center
  color white
  bottom 120%
  top -170%
  left 5%
  right 5%
  box-shadow 0 0px 7px #888
  .about-button
    position absolute
    right m
    top 0
    color white
    cursor pointer
    font-size 60px
.About-opened
  bottom 10%
  top 10%
  left 10%
  right 10%

.Chart
  flex 1 0 auto
  background gray
  background-size 100% 100%
  .letter
    background userColor
    color white
    font-weight bold
    padding 0.1em 0.4em 0 0.4em
    border-radius r

.Users
  flex 0 0 auto
  align-self auto
  padding 20px
  flex-direction column
  display flex
  align-items stretch
  font-size 16px
  overflow-y auto
  min-height 0
  li
    margin-bottom 20px
    .user-icon
      color #555
      background #f1f1f1
      border-radius r
      padding 2px
      width 5em
      text-align center
      display inline-block
    .letter
      background black
      color white
      padding 0.1em 0.44em
      font-weight bold
      border-radius r
      transition all 0.9s ease
      box-shadow 0 0 0 0px #555
    &.me
      .user-icon
        color userColor
      .letter
        box-shadow 0 0 0 0px userColor
        background-color userColor
        border-color userColor
  &.highlight
    .me
      .letter
        box-shadow 0 0 0 30px transparent

.logo
  position absolute
  bottom m
  right 0
  width 100%
  display block
  text-align center
  h1
    display inline
    font-size 20px
    color #888
  .about-button
    margin-left 10px
    cursor pointer
    color white
    background #aaa
    padding 0.25em 0.45em 0 0.45em
    border-radius r
    font-weight bold
    position relative
    top -2px
    &:hover
      background userColor

h2
  flex 0 0 auto
  border-bottom 1px solid #ccc
  font-size 14px
  color #999
  padding 0 m

a
  color inherit

.support
  position absolute
  bottom m
  left m


@keyframes bet
  0%
    box-shadow 0 0 0 black
    transform scale(1.2)
  50%
    box-shadow 0 0 10px black
    transform scale(1.5)
  100%
    box-shadow 0 0 0px black
    transform scale(1.2)


.letter::selection {background:transparent;}
.letter::-moz-selection {background:transparent;}
