// @import 'nib/vendor'
@import 'nib/gradients'
@import 'utils.styl'

m = 20px // padding
r = 1em // radius
userColor = red

body
  font 20px/1.2em 'anka', monospace

html, body, main, .main-in, .app-container
  height 100%
::selection
  background transparent
::-moz-selection
  background transparent

.App
  height 100%
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-content stretch
  align-items stretch
.Main
  position relative
  overflow hidden
  flex 0 1 100%
  display flex
  padding 20px
  flex-direction column
  flex-wrap nowrap
  justify-content flex-end
  border-right 1px solid #ccc
.Graph
  position absolute
  z-index -1
  top 0
  right 0
  bottom 0
  left 0
  svg
    position absolute
    top 0
    right 0
    bottom 0
    left 0
.Lines
  flex 0 0 auto
  width 100%
  line-height 1.5em
  width 800px
  margin 0 auto 50vh
  white-space pre
  .letter
    border-radius r
    &.letter-current
      color userColor
  .line:last-child
    .letter
      &.letter-other
        animation-duration .4s
        animation-name blop
        color black
      &.letter-current
        animation-duration .5s
        animation-name userBlop
        color userColor
.Sidebar
  flex 0 0 350px
  display flex
  flex-direction column
.Logo
  position absolute
  bottom m
  right 0
  width 100%
  display block
  text-align center
  h1
    display inline
    font-size 22px
    color black
  .Logo-about
    margin-left 10px
    font-size 12px
    cursor pointer
    color white
    background #999
    padding 0.25em 0.45em 0 0.45em
    border-radius r
    font-weight bold
    position relative
    top -2px
    &:hover
      background userColor

.Letters
  flex 0 0 auto
  flex-wrap wrap
  justify-content flex-start
  align-content flex-start
  align-self auto
  padding 20px 24px 20px 30px
  flex-direction row
  display flex
  font-weight bold
  align-items stretch
  & > span
    width (294px / 6)
    font-size 30px
    cursor pointer
    position relative
    span
      display block
      text-align center
      line-height 0.9em
      margin .1em
      border-radius r
      background #e1e1e1
      padding 0.3em 0.4em 0.2em 0.42em
      transition background-color .3s ease
      &:after
        display none
        content attr(data-risk)
        background #e1e1e1
        border-radius r
        line-height 10px
        font-size 10px
        padding 2px
        position absolute
        opacity 1
        top 3em
        left 3.1em
        transition opacity .2s ease
    &:hover span
      background #eee
    &:active span
      color white
      background userColor
      &:after
        opacity 0
.Letters-letter-blank
  visibility hidden

.About
  transition all .4s ease
  position absolute
  background userColor
  padding 20vh
  font-size 30px
  line-height 2.5em
  text-align center
  color white
  bottom 120%
  top -170%
  left 5%
  right 5%
  box-shadow 0 0px 7px #888
  .col
    float left
    width 50%
    padding-top 10vh
    &:last-child
      padding-left 4vw
      font-size 16px
      line-height 1.2em
  .about-button
    position absolute
    right m
    top 0
    color white
    cursor pointer
    font-size 60px
.About-opened
  bottom 10%
  top 10%
  left 10%
  right 10%
.Chart
  flex 1 0 auto
  background gray
  background-size 100% 100%
  .letter
    background userColor
    color white
    font-weight bold
    padding 0.1em 0.4em 0 0.4em
    border-radius r

.Users
  flex 1 0 0
  align-self auto
  padding 20px
  flex-direction column
  display flex
  align-items stretch
  font-size 16px
  overflow-y auto
  .inner
    li
      margin-bottom 10px
      height 30px
      .user-icon
        color #555
        background #f1f1f1
        border-radius r
        padding 2px
        width 6em
        text-align center
        display inline-block
        white-space nowrap
      .letter
        background black
        color white
        padding 0.25em 0.45em .15em
        margin-right 2px
        font-weight bold
        border-radius r
        animation-duration .1s
        animation-name appearLetter
      .coin
        margin-right 1px
        font-size 20px
        color #888
        position relative
        display inline-block
        &.up
          animation-duration 1s
          animation-name coinup
      .float:last-child
        font-size 12px
        color #777
      &.me
        .user-icon
          color userColor
        .letter
          box-shadow 0 0 0 0px userColor
          background-color userColor
          border-color userColor

h2
  flex 0 0 auto
  border-bottom 1px solid #ccc
  font-size 14px
  color #999
  padding 0 m

a
  color inherit

.support
  position absolute
  bottom 25px
  left m
  filter hue-rotate(130deg) saturate(280%)
  transition filter .1s ease
  &.mobile
    display none

@media only screen and (max-width: 800px)
  .About
    font-size 20px
    padding 20vh m m m
    .col
      float none
      width 100%
      padding-top 0
      &:last-child
        padding-top 5vh
  .support, .Logo h1, .Letters-letter-blank
    display none
  .Logo
    top m
    .Logo-about
      font-size 30px
  .support.mobile
    display inline
  .App
    flex-flow column
  .Main
    flex-flow row
    .Lines
      width 100%
  .Sidebar
    Flex 0 0 auto
  .Users
    li
      display inline
  .Letters
    order 3
  h2.title-users
    order 0
  h2.title-letters
    order 2

// Animations

@keyframes appearLetter
  0%
    font-size 0
  100%
    font-size inherit
@keyframes userBlop
  0%
    box-shadow 0 0 0 transparent
  10%
    box-shadow 0 0 0 5px userColor
  100%
    box-shadow 0 0 0px transparent
@keyframes blop
  0%
    box-shadow 0 0 0 transparent
  5%
    box-shadow 0 0 0 5px rgba(0,0,0,.2)
  100%
    box-shadow 0 0 0px transparent
@keyframes coinup
  0%
    top 0
    transform scale(1, 1)
  30%
    top - 15px
    color userColor
    transform scale(1, 0)
  100%
    top 0
    transform scale(1, 1)

.letter::selection {background:transparent;}
.letter::-moz-selection {background:transparent;}
