@import 'nib/vendor'
@import 'nib/gradients'
@import 'utils.styl'

m = 20px // padding
r = 1em // radius
userColor = red

body
  font 15px/1.8em 'anka', monospace

html, body, main, .chart-letters-users, .app-container
  height 100%

::selection
  background transparent
::-moz-selection
  background transparent

.App
  height 100%
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-content stretch
  align-items stretch
.Main
  position relative
  overflow hidden
  flex 0 1 100%
  display flex
  padding 20px
  flex-direction column
  flex-wrap nowrap
  justify-content flex-end
  border-right 1px solid #ccc

.Main-lines
  flex 0 0 auto
  width 100%
  line-height 4vh
  width 760px
  margin 0 auto
  white-space pre
  .letter
    border-radius r
    &.letter-current
      color userColor
      transition all 0.8s ease
    &.letter-other
      transition all 0.3s ease
  .last-line
    .letter
      &.letter-current
        color white
        box-shadow 0 0 0 0px userColor
        background userColor
      &.letter-other
        color white
        box-shadow 0 0 0 0px #555
        background #555
    &.highlight
      .letter
        box-shadow 0 0 0 20px transparent
        background transparent
        &.letter-current
          color userColor
        &.letter-other
          color black
.Sidebar
  flex 0 0 350px
.Logo
  position absolute
  bottom m
  right 0
  width 100%
  display block
  text-align center
  h1
    display inline
    font-size 20px
    color #888
  .Logo-about
    margin-left 10px
    cursor pointer
    color white
    background #aaa
    padding 0.25em 0.45em 0 0.45em
    border-radius r
    font-weight bold
    position relative
    top -2px
    &:hover
      background userColor

.Letters
  flex 0 0 auto
  flex-wrap wrap
  justify-content flex-start
  align-content flex-start
  align-self auto
  padding 20px
  flex-direction row
  display flex
  font-weight bold
  align-items stretch
  & > span
    cursor pointer
    font-size 30px
    height 1.4em
    margin .1em
    background #ccc
    border-radius r
    padding 0.3em 0.4em 0 0.42em
    transition background-color .1s ease-out
    &:hover
      background #eee
    &:active
      background userColor
      color white
.Letters-letter-blank
  visibility hidden

.Chart
  flex 1 0 auto
  background gray
  background-size 100% 100%
  .letter
    background userColor
    color white
    font-weight bold
    padding 0.1em 0.4em 0 0.4em
    border-radius r

.Users
  flex 0 0 auto
  align-self auto
  padding 20px
  flex-direction column
  display flex
  align-items stretch
  font-size 16px
  li
    margin-bottom 20px
    .user-icon
      color #555
      background #f1f1f1
      border 5px solid #f1f1f1
      border-radius r
    .letter
      background black
      color white
      padding 0.1em 0.44em
      font-weight bold
      border-radius r
      transition all 0.9s ease
      box-shadow 0 0 0 0px #555
    &.me
      .user-icon
        color userColor
      .letter
        box-shadow 0 0 0 0px userColor
        background-color userColor
        border-color userColor
  &.highlight
    .me
      .letter
        box-shadow 0 0 0 30px transparent

#about
  display none


h2
  flex 0 0 auto
  border-bottom 1px solid #ccc
  font-size 14px
  color #999
  padding 0 m

a
  color inherit

.letter::selection {background:transparent;}
.letter::-moz-selection {background:transparent;}
