html, body, #app-container {
  margin: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.Header {
  flex: 0 0 100px;
  background: #666;
}
.Main {
  flex: 1 0 auto;
  background: #CCC;
}
.Footer {
  flex: 0 0 100px;
  background: #666;
}
